* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #143c3c;
    --heading-color: #152427;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

/* common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 739px) {
    .container {
        width: 739px;
        max-width: calc(100% - 20px);
    }
}

a {
    text-decoration: none;
}

.btn {
    min-width: 173px;
    line-height: 57px;
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 40px;
    text-align: center;
    font-family: Public Sans;
    font-size: 1.8rem;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}

.section-desc {
    margin-left: 46px;
    margin-bottom: 12px;
    color: #152427;
    font-size: 1.6rem;
}

.section-desc::before {
    left: 0;
    top: 7px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #152427;
}

.section-heading {
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.section-heading::after {
    bottom: 18px;
    content: "";
    width: 66px;
    height: 2px;
    display: inline-block;
    background-color: #152427;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* header */
.header {
    padding: 28px 0 165px;
}

.header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 1140px;
    height: 1px;
    bottom: -13px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
}

.header-navbar {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
    gap: 30px;
    margin-right: 80px;
}

.navbar__link {
    padding: 8px;
    color: #575d5e;
    font-family: Public Sans;
    font-size: 1.8rem;
    line-height: 1.55;
}

.navbar__link:hover,
.navbar__link--active {
    color: #152427;
}

.navbar__link--active {
    position: relative;
}

.navbar__link--active::before {
    position: absolute;
    bottom: -23px;
    left: 10px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background-color: #143c3c;
}

.hero {
    padding-top: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    /* max-width: 41.2%; */
    width: 41.2%;
    flex-shrink: 0;
}

.hero__heading {
    max-width: 368px;
    color: #152427;
    font-family: Public Sans;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    max-width: 341px;
    margin-top: 20px;
    color: #575d5e;
    font-family: Public Sans;
    font-size: 1.8rem;
    line-height: 1.55;
}

.hero-action {
    display: flex;
    margin-top: 40px;
}

.hero-action__watch {
    position: relative;
    margin-left: 37px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.hero-action__video {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #83a17d;
    cursor: pointer;
}

.hero-action__line {
    position: absolute;
    left: -1px;
}

.hero-action__more {
    color: #152427;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero__media {
    margin-right: 20px;
}

.hero__images {
    display: flex;
    position: relative;
    column-gap: 20px;
}

.hero__circle {
    position: absolute;
    width: 340px;
    height: 340px;
    bottom: 0;
    right: 170px;
    border-radius: 340px;
    background-color: #4dbb9a;
    filter: blur(137px);
}

.hero__img {
    border-radius: 110px;
    width: 202px;
    height: 466px;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    transform: translateY(77px);
}

.header__wrap {
    position: relative;
}

.header__flower:nth-of-type(1) {
    position: absolute;
    left: 255px;
    top: 106px;
}

.header__string:nth-of-type(2) {
    position: absolute;
    left: 295px;
    top: 97px;
}

.header__flower:nth-of-type(3) {
    position: absolute;
    right: 34px;
    bottom: -107px;
}

.header__string:nth-of-type(4) {
    position: absolute;
    right: 74px;
    bottom: -136px;
}

@media only screen and (max-width: 739px) {
    .header {
        margin-top: 25.7px;
        padding-bottom: 0;
    }

    .container {
        width: 739px;
        max-width: calc(100% - 24px);
    }

    .navbar {
        display: none;
    }

    .header-top {
        justify-content: space-between;
    }

    .btn {
        min-width: 92px;
        line-height: 30px;
        font-size: 1.2rem;
    }

    .logo__img {
        width: 84px;
        height: 16px;
    }

    .header__top {
        align-items: center;
    }

    .header-top::after {
        display: none;
    }

    .hero {
        flex-direction: column;
        padding-top: 55px;
    }

    .header__wrap {
        width: 100%;
    }

    .hero__content {
        width: 100%;
    }

    .hero__heading {
        font-size: 3rem;
        max-width: 233px;
    }

    .hero__desc {
        margin-top: 10px;
        max-width: 240px;
        font-size: 1.4rem;
    }

    .hero-action {
        margin-top: 19px;
    }

    .hero-action__btn {
        margin-left: 2px;
        font-size: 1.2rem;
        line-height: 35px;
        min-width: 107px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-action__video {
        width: 30px;
        height: 29px;
        margin-right: 9px;
    }
    .hero-action__line {
        /* width: 39px;
        height: 41px;
        left: -8px; */
        display: none;
    }

    .hero-action__more {
        font-size: 1.4rem;
    }

    .hero__media {
        width: 100%;
        margin-right: 0;
        display: flex;
        justify-content: center;
    }

    .hero__images {
        margin-top: 67px;
        column-gap: 8.5px;
    }

    .hero__img {
        width: 85.351px;
        height: 196.898px;
        object-fit: cover;
    }

    .hero__circle {
        width: 205px;
        height: 205px;
    }

    .header__flower:nth-of-type(1) {
        width: 19.966px;
        height: 19.957px;
        left: 3px;
        top: 325px;
    }

    .header__string:nth-of-type(2) {
        width: 151px;
        height: 100px;
        left: 13px;
        top: 321px;
    }

    .header__flower:nth-of-type(3) {
        width: 18.167px;
        height: 18.159px;
        bottom: -11px;
        right: 12px;
    }

    .header__string:nth-of-type(4) {
        width: 137.454px;
        height: 91.831px;
        bottom: -24px;
        right: 21px;
    }
}

/* Social */

.social {
    margin-top: 42px;
}

.social__list {
    display: flex;
    justify-content: space-between;
    padding: 80px 122px;
    border-radius: 100.5px;
    background: #e2eddf;
}

.social__item {
    display: flex;
    align-items: center;
}

.social__google {
    color: var(--primary-color);
    font-size: 3.1rem;
}

.social__slack {
    margin-left: 5px;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 600;
}

.social__agworld {
    color: #163c35;
    font-size: 2.6rem;
    margin-left: 11px;
}

.social__heroku {
    margin-left: 14px;
    color: var(--primary-color);
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

@media only screen and (max-width: 739px) {
    .social {
        margin-top: 128px;
    }

    .social__list {
        height: 251px;
        padding: 0;
        border-radius: 30px;
        justify-items: center;
        align-items: center;
        justify-content: space-evenly;
        align-content: space-evenly;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
    }

    .social__google {
        font-size: 2rem;
    }

    .social__slack {
        margin-left: 11.4px;
        font-size: 2rem;
    }

    .social__agworld {
        font-size: 2rem;
        margin-left: 4px;
    }

    .socila__riotinto {
        width: 99px;
        height: 13px;
    }

    .social__heroku {
        font-size: 2rem;
        margin-left: 14px;
    }

    .social__item:last-of-type {
        grid-area: 3 / 1 / 4 / 3;
        justify-self: center;
    }
}

/* service */
.service {
    margin-top: 106px;
}

.service__top {
    margin-bottom: 76px;
    display: flex;
    justify-content: space-between;
}

.service__title {
    position: relative;
    max-width: 45.6%;
}

.service__desc::before {
    position: absolute;
    left: 3px;
}

.service__heading::after {
    position: absolute;
    left: 351px;
}

.service__control {
    border: none;
    background-color: transparent;
    align-self: flex-end;
    margin-right: 73px;
    display: flex;
    column-gap: 17px;
}

.service__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background-color: #e2eddf;
    border-radius: 50%;
    color: #152427;
    transition: 0.25s;
}

.service__btn:hover {
    color: #fff;
    background-color: #143c3c;
}

.service__btn:first-child {
    rotate: 180deg;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item {
    border-radius: 20px;
    background: #fff;
    transition: 0.25s;
}

.service-item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    transform: translateY(3px);
}

.service-item__img {
    display: block;
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service__info {
    padding: 24px 0 24px 18px;
}

.service-item__heading {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__desc {
    margin-top: 18px;
    width: 268px;
    color: #7d8188;
    font-size: 1.4rem;
    line-height: 1.71;
}

@media only screen and (max-width: 739px) {
    /* .service {
        background-color: gray;
    } */

    .service__top {
        flex-direction: column;
    }

    .service__title {
        max-width: 100%;
    }

    .service__heading {
        font-size: 3rem;
        max-width: 281px;
        line-height: 1.33;
    }

    .service__heading::after {
        left: 147px;
        bottom: 15px;
    }

    .service__control {
        display: none;
    }

    .service-list {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: 20px;
    }

    .service-item {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 260px;
    }

    .service-item:hover {
        transform: none;
    }
    
    .service-item__img {
        display: block;
        width: 260.629px;
        height: 224px;
    }

    .service__top {
        margin-bottom: 40px;
    }

    .service__info {
        width: 260.629px;
        padding: 16px 0 27px 13px;
    }

    .service-item__heading {
        font-size: 1.8rem;
    }

    .service-item__desc {
        margin-top: 6px;
        max-width: 193px;
    }
}
/* about */

.about {
    margin-top: 170px;
}

.about__top {
    position: relative;
}

.about-wrap {
    display: flex;
    justify-content: space-between;
}

.about__media {
    max-width: 51.8%;
    display: flex;
    column-gap: 21px;
    flex: 1;
}

.about__img {
    width: 284px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:first-child {
    transform: translateY(90px);
}
.about__img:last-child {
    margin-top: 13px;
}

.about-content {
    position: relative;
    width: 48.2%;
    margin-left: 64px;
}

.about__desc {
    margin-bottom: 20px;
}

.about__desc::before {
    position: absolute;
    left: 0;
    top: 7px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #152427;
}

.about__heading::after {
    display: inline;
}

.about__info {
    max-width: 478px;
    margin-top: 11px;
    color: #7d8188;
    font-size: 1.6rem;
    line-height: 1.62;
}

.about-row {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    row-gap: 58px;
    align-items: flex-start;
}

.about-row__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-row__percent {
    color: #152427;
    margin-right: 24px;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
}

.about-row-desc {
    max-width: 364px;
    color: #7d8188;
    font-size: 1.4rem;
    line-height: 1.71;
}

.about__separate-top {
    position: relative;
}

.about__separate-top::after {
    position: absolute;
    content: "";
    bottom: -20px;
    display: inline-block;
    width: 485px;
    height: 1px;
    background-color: #83a17d;
}

.about__separate-bottom {
    position: relative;
}

.about__separate-bottom::after {
    position: absolute;
    content: "";
    bottom: -20px;
    display: inline-block;
    width: 485px;
    height: 1px;
    background-color: #83a17d;
}

.about__flower {
    position: absolute;
    top: -18px;
    left: 46px;
}

.about__string {
    position: absolute;
    top: 18px;
    left: 82px;
}

.about-stats {
    position: absolute;
    right: -9px;
    bottom: -69px;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-stats__title {
    margin: 19px 23px 6px;
    color: #152427;
    font-size: 1.3rem;
    font-weight: 600;
}

.about-stats__desc {
    margin: 0 0 10px 23px;
    color: #575d5e;
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

.about-stats__percent {
    color: #152427;
    margin: 0 0 3px 23px;
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-stats__separate-long {
    margin-left: 23px;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about-stats__separate-short {
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about-stats__loading {
    margin-right: 22px;
    margin-top: 3px;
    color: #152427;
    text-align: right;
    font-size: 1rem;
    line-height: 1;
}

.about-stats__big {
    margin: 3px 0 0 19px;
    position: relative;
    background-color: #eaeaea;
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.about-stats__small {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.about-stats__memeber {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 17px 11px;
}

.about-stats__team {
    color: #152427;
    font-size: 1rem;
    line-height: 1.4;
}

.about-stats__image {
    display: flex;
}

.about-stats__member {
    margin-right: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
}

.about-stats__member:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 739px) {
    .about {
        margin-top: 0;
        margin-top: 50px;
    }

    .about-wrap {
        flex-direction: column;
        gap: 155px;
    }

    .about__media {
        max-width: 375px;
    }

    .about__img {
        width: 152.332px;
        height: 257.462px;
    }

    .about__img:first-child {
        transform: translateY(40px);
    }

    .about__img:last-child {
        margin-top: 0px;
    }

    .about__media {
        justify-content: center;
    }

    .about-stats {
        right: 30px;
        bottom: -100px;
    }

    .about-content {
        width: 100%;
        margin-left: 0;
    }

    .about__desc {
        margin-bottom: 12px;
    }

    .about__heading {
        max-width: 263px;
        font-size: 3rem;
        line-height: 1.33;
    }

    .about__info {
        max-width: 310px;
        font-size: 1.4rem;
        line-height: 1.85;
    }

    .about-row {
        row-gap: 27px;
    }

    .about-row__percent {
        font-size: 2.6rem;
    }

    .about-row-desc {
        font-size: 1.4rem;
    }

    .about-row__info {
        max-width: 335px;
    }

    .about__separate-top::after {
        bottom: -11px;
        max-width: 335px;
    }

    .about__separate-bottom::after {
        bottom: -16px;
        max-width: 335px;
    }

    .about__flower {
        width: 38.124px;
        height: 38.106px;
        top: 0px;
        left: -18px;
    }

    .about__string {
        width: 286.693px;
        height: 190.871px;
        top: 17px;
        left: -40px;
    }
}

/* process */
.process {
    margin-top: 156px;
}

.pocess-content {
    position: relative;
    padding-top: 36px;
}

.process__desc::before {
    position: absolute;
    top: 43px;
}

.process__heading {
    max-width: 477px;
    margin-top: 20px;
}

.process__heading::after {
    position: absolute;
    left: 420px;
}

.process-list {
    margin-top: 81px;
}

.process-item {
    position: relative;
    display: flex;
    height: 185px;
    border-radius: 33px;
    transition: 0.25s;
}

.process-item:hover {
    background-color: #e2eddf;
}

.process-item:hover .process-item__link {
    display: inline-block;
}

.process-item__number {
    min-width: 109px;
    align-self: center;
    color: var(--primary-color);
    font-size: 7.2rem;
    font-weight: 600;
}

.process-item__more {
    margin-right: 175px;
}

.process-item__wrap {
    margin-left: 20px;
    display: flex;
    gap: 47px;
}

.process-item__title {
    min-width: 176px;
    margin: 72px 0 22px;
    color: #152427;
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
}

.process-item__link {
    color: #575d5e;
    font-size: 1.8rem;
    display: inline-block;
}

.process-item__link:hover {
    text-decoration: underline;
}

.process-item__desc {
    max-width: 572px;
    align-self: center;
    color: #7d8188;
    font-family: Public Sans;
    font-size: 1.8rem;
    line-height: 1.55;
}

.process-item {
    position: relative;
}

.process__image {
    position: absolute;
    bottom: 0;
    right: 92px;
}

.process__separate {
    position: absolute;
    width: 1131px;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

@media only screen and (max-width: 739px) {
    .process {
        margin-top: 34px;
    }

    .pocess-content {
        padding-top: 0px;
        width: 100%;
    }

    .process__desc::before {
        position: absolute;
        top: 6px;
    }

    .process__heading {
        max-width: 298px;
        margin-top: 16px;
        font-size: 3rem;
        line-height: 1.33;
    }

    .process__heading::after {
        position: absolute;
        left: 145px;
    }

    .process__image {
        display: none;
    }

    .process-list {
        margin-top: 59px;
    }

    .process-item__number {
        font-size: 5rem;
    }

    .process-item__title {
        font-size: 2rem;
    }

    .process-item__desc {
        font-size: 1.4rem;
        line-height: 2;
    }

    .process-item {
        flex-direction: column;
        justify-content: center;
        margin-right:20px;
        margin-left: 18px;
        padding: 29px;
    }

    .process-item__title {
        margin-top: 0;
    }

    .process-item__wrap {
        align-items: center;
        gap: 43px;
        margin: 0;
    }

    .process__separate {
        width: 335px;
    }
}

/* project   */

.project {
    margin-top: 148px;
    padding: 116px 0 63px;
    background: var(--primary-color);
}

.project-wap {
    position: relative;
}

.project-content {
    display: flex;
    align-items: center;
}

.project-content__heading {
    max-width: 40%;
    position: relative;
    color: #fff;
}

.project-content__heading::after {
    position: absolute;
    left: 294px;
    background-color: #83a17d;
}

.project-row {
    max-width: 51.7%;
    margin-left: 93px;
}

.project__desc {
    color: #6a8383;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-style: normal;
    line-height: 1.55;
}

.project-action {
    margin-top: 13px;
    display: flex;
}

.project-action__link {
    color: #fff;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.project-action__arrow {
    display: block;
    margin-left: 26px;
}

.project-meida {
    margin-top: 65px;
    position: relative;
}

.project-media__img {
    width: 1140px;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.project-meida_button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 118px;
    height: 118px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.project-flower {
    position: absolute;
    top: 93px;
    right: -58px;
}

.project-string {
    position: absolute;
    top: 0;
    right: -70px;
}

@media only screen and (max-width: 739px) {
    .project-content {
        flex-direction: column;
        align-items: start;
    }

    .project-content__heading {
        max-width: 268px;
        font-size: 3rem;
        line-height: 1.33;
     
    }

    .project-content__heading::after {
       width: 38px;
    }

    .project-row {
        margin-top: 8px;
        max-width: 100%;
        margin-left: 0px;
    }

    .project-action {
        margin-top: 18px;
    }

    .project-meida {
        margin-top: 136px;
    }

    .project-media__img {
        width: 100%;
        height: 544px;
    }

    .project-meida_button {
        width: 98px;
        height: 98px;
    }

    .project-meida__play {
        width: 30px;
        height: 30px;
    }

    .project-flower {
        width: 72.033px;
        height: 72px;
        top: 257px;
        right: 81px;
    }

    .project-string {
        width: 380.208px;
        height: 253.13px;
        top: 297px;
        right: -96px;
    }
}

/* custumer */

.custumer {
    margin-top: 140px;
}

.custumer__heading {
    max-width: 520px;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.custumer__desc {
    margin-top: 20px;
    max-width: 547px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #7d8188;

    font-size: 1.6rem;
    line-height: 1.62;
}

.custumer-list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.custumer-item {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    transition: 0.25s;
}

.custumer-item:hover {
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    transform: translateY(-60px);
    border-color: transparent;
}

.custumer-item__title {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
}

.custumer-item__desc {
    margin-top: 10px;
    color: #7d8188;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.71;
}

@media only screen and (max-width: 739px) {
    .custumer {
        margin-top: 50px;
    }

    .custumer__heading {
        max-width: 275px;
        font-size: 3rem;
        line-height: 1.33;
    }

    .custumer__desc {
        margin-top: 12px;
        max-width: 306px;
        font-size: 1.4rem;
        line-height: 1.71;
    }

    .custumer-list {
        margin-top: 30px;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row;
        justify-items: center;
    }

    .custumer-item {
        width: 335px;
        height: 362px;
    }
    

    .custumer-item:hover {
        box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
        transform: none;
        border-color: transparent;
    }
}

/* blog*/
.blog {
    margin-top: 184px;
}

.blog-heading {
    position: relative;
}

.blog-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-heading__desc {
    margin-bottom: 10px;
}

.blog-heading__desc::before {
    position: absolute;
}

.blog-wrap__title::after {
    position: absolute;
    left: 489px;
}

.blog-wrap__title {
    max-width: 520px;
}

.blog-wrap__desc {
    max-width: 409px;
    color: #7d8188;
    font-size: 1.6rem;
    line-height: 1.62;
}

.blog-list {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 30px;
}

.blog-item {
    position: relative;
    border-radius: 40px;
    transition: 0.25s;
    width: 100%;
}

.blog-item:hover {
    background: var(--text-color-white, #fff);
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__btn {
    background-color: var(--primary-color);
    color: #fff;
}

.blog-item:hover .blog-item__bot {
    padding: 26px 49px 14px 30px;
}

.blog-item:hover .blog-item__date {
    right: 33px;
}

.blog-item:hover .blog-item__separate {
    width: 297px;
    left: 30px;
}

.blog-item__img {
    display: block;
    width: 100%;
    height: 317px;
    border-radius: 40px 40px 0px 0px;
    object-fit: cover;
}

.blog-item__bot {
    height: 204px;
    padding: 26px 14px 0 0;
    transition: 0.2s;
}

.blog-item__btn {
    display: inline-block;
    min-width: 107px;
    color: #000;
    text-align: center;
    font-size: 1rem;
    line-height: 26px;
    border-radius: 20px;
    background-color: #e2eddf;
}

.blog-item__heading {
    margin-top: 13px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.blog-item__date {
    position: absolute;
    color: #575d5e;
    font-size: 1rem;
    text-align: right;
    bottom: 12px;
    right: 24px;
}

.blog-item__separate {
    position: absolute;
    width: 337px;
    height: 1px;
    background: #c4c4c4;
    left: 0;
    bottom: 39px;
}

@media only screen and (max-width: 739px) {
    .blog {
        margin: 50px 0 20px;
    }

    .blog-heading__desc {
        margin-bottom: 20px;
    }

    .blog-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .blog-wrap__title {
        max-width: 278px;
        font-size: 3rem;
        line-height: 1.33;
    }

    .blog-wrap__title::after {
        left: 168px;
        top: 143px;
    }

    .blog-wrap__desc {
        max-width: 272px;
        margin-top: 12px;
        font-size: 1.4rem;
        line-height: 1.85;
    }

    .blog-list {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: 20px;
    }

    .blog-item {
        width: 100%;
    }
}

/* footer    */
.footer {
    margin-top: 102px;
    background-color: var(--primary-color);
    padding-bottom: 50px;
}

.footer-list {
    display: grid;
    grid-template-columns: 1fr 0.18fr 0.18fr 0.192fr 0.14fr;
}

.footer-item1 {
    margin-top: 72px;
}

.footer-item {
    margin-top: 94px;
}

.footer__heading {
    color: #fff;
    font-family: Poppins;
    font-size: 3.2rem;
}

.footer-item__email {
    margin-top: 25px;
}

.footer-item__input {
    border: none;
    background-color: transparent;
    outline: none;
    color: #6a8383;
}

.footer-item__input::placeholder {
    color: #6a8383;
    font-size: 2.2rem;
    font-weight: 600;
}

.footer-item__img-form {
    margin-left: 115px;
}

.footer-item__separate {
    margin-top: 26px;
    width: 354px;
    height: 1px;
    background: #6a8383;
}

.footer-item__media {
    display: flex;
    column-gap: 22px;
    margin-top: 47px;
}

.footer-item__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #6a8383;
}

.footer-item__icon:hover {
    background-color: #a75325;
    border-color: #a75325;
}

.footer-item__circle {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.footer-item__heading {
    margin-bottom: 6px;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.55;
}

.footer-item__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-item__link {
    color: #6a8383;
    font-size: 1.6rem;
    line-height: 2.25;
}

.footer-separate {
    margin: 45px 0 0;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        14deg,
        #143c3c 0%,
        #295a5a 53.48%,
        rgba(38, 82, 82, 0) 100%
    );
}

@media only screen and (max-width: 739px) {
    .footer {
        margin-top: 0;
        padding-bottom: 52px;
    }
    .footer-item {
        display: none;
    }

    .footer__heading {
        font-size: 2.4rem;
    }

    .footer-item__input::placeholder {
        color: #6a8383
        font-size: 2rem;
    }
    .footer-separate {
        display: none;
    }

    .footer-item__form {
        display: flex;
        justify-content: space-between;
    }


    .footer-item__img-form {
        margin: 0;
    }

   
    
    .footer-item__separate {
        width: 335px;
    }
}
